  <fieldset>
    <label>Nome:</label>
    <input name="name" value="{{ this.name }}"/>
  </fieldset>
  <fieldset>
    <label>Age:</label>
    <input name="age" value="{{ this.age }}" />
  </fieldset>
  <fieldset>
    <label>Gender</label>
    <input name="gender" value="{{ this.gender }}">
  </fieldset>