<h1>Lista de Pessoas</h1>
<ul>
{{#each personsData }}
  <li>
    {{ this.name }} - 
    <a href="/person/update/{{ this.id }}">Update</a>
    <a href="/person/delete/{{ this.id }}">Delete</a>
  </li>
{{/each}}
</ul>

<a href="/">Create new Person</a>