<form action="/person/create" method="POST">
  <fieldset>
    <label>Nome:</label>
    <input name="name" />
  </fieldset>
  <fieldset>
    <label>Age:</label>
    <input name="age" />
  </fieldset>
  <fieldset>
    <label>Gender</label>
    <input name="gender" maxlength="1">
  </fieldset>
  <fieldset>
    <button type="submit">Salvar</button>
  </fieldset>
</form>