<form action="/person/create" method="POST">
  <input type="text" placeholder="Nome" name="name">
  <input type="text" placeholder="Idade" name="age">
  <input type="text" placeholder="Gênero" name="gender">
  <button type="submit">Submit</button> 
</form>