   <div class="text-form">
      <h1>List Person</h1>
   </div>
   <br><br>  
<table id="customers">
        <th>Nome</th>
        <th>Age</th>
        <th>Gender</th>
        <th>Update</th>
        <th>Delete</th>

     {{#each data }}
     {{>list this}}
      {{/each}}

  </table>
<div class="form-button"> 
         {{#if data}}
         {{else}}
         <a href="/" ><button class="btn btn-primary">Create Person</button></a>

         {{/if}}

</div>