<div class="read-containeer">
  <div class="row">

    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nome</th>
          <th scope="col">Idade</th>
          <th scope="col">Genero</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {{#each data}}
        {{>person}}
        {{/each}}
      </tbody>
    </table>

  </div>
</div>
</div>