<div class="read-containeer">
  <div class="row">
    <div class="col-sm sm1"></div>
    <div class="col-sm sm2">
    <tbody>
      {{#each data}}
      {{>person}}
      {{/each}}
    </tbody>
    </div>
    <div class="col-sm sm3  "></div>
  </div>
</div>