<br><br>
Energumeno Atualizado
Voltar para:<br>
      <form action="/create" method="get">
        <button class="btn-artist btn btn-secondary" type="submit">Criar</button>
      </form><br>
      <form action="/read" method="get">
        <button class="btn-artist btn btn-secondary" type="submit">Ler</button>
      </form><br><br>
