<div class="create-containeer">
  <div class="row">
    <div class="col-sm sm1">

    </div>
    <div class="col-sm sm2">
      <form action="/person/save" method="post"><br><br>
        Nome <input name="name" placeholder="{{this.name}}" /><br><br>
        Idade <input name="age" placeholder="{{this.age}}" /><br><br>
        Genero <input name="gender" placeholder="{{this.gender}}" /><br><br>
        <button class="btn-artist btn btn-secondary" type="submit">Atualizar</button>
      </form>
    </div>
    <div class="col-sm sm3"></div>
  </div>
</div>